html,
body {
  max-width: 64rem;
  margin-inline: auto;
  display: flex;
  justify-content: center;
  padding: 16px 16px;
  height: 100%; /* Ensures the body covers full viewport height */
}

.hero-bg {
  background-color: #E5E5E5;
}

body {
  background: transparent;
}

h1 {
  font-size: 20px; /* text-4xl */
  font-weight: 600; /* font-semibold */
  text-align: center; /* text-center */
  letter-spacing: -0.025em; /* tracking-tighter */
  color: #3f3f46; /* text-zinc-800 */
}

p {
  color: #3f3f37; /* text-zinc-700 */
  max-width: 36rem; /* max-w-xl */
}

a {
  font-size: 12px;
  color: #3f3f46;
  text-decoration: none;

  display: flex;
  justify-content: center;
}

@media (max-width: 480px) {
  html {
    overscroll-behavior-y: auto;
    height: 100dvh;
  }

  body {
    height: 100dvh;
    padding: 0px;
  }

  h1 {
    font-size: 12px;
    margin: 4px 0;
  }

  p {
    font-size: 10px; /* Further reduce font size */
  }

  a {
    font-size: 10px;
    width: 100%;
  }
}
