.game-container {
  min-height: 100vh;
  min-height: 100dvh;
}

@media (max-width: 480px) {
  .game-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 8px 0;
    height: 100vh;
    height: 100dvh;
    overflow-x: hidden;
    overflow-y: hidden;
  }
}

.card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
  background-color: #d6d3d1;
  box-shadow: 0 6px 0 #1e293b;
  border: 2px solid #1e293b;
  margin-top: 24px;
  margin-bottom: 24px; /* space-y-4 */
  border-radius: 0.75rem; /* rounded-xl */
  padding: 24px 24px;
  position: relative;
  max-width: 100%; /* Full width by default */
}

@media (max-width: 480px) {
  .card-grid {
    grid-gap: 16px;
    margin-top: 16px;
    margin-bottom: 8px;
    margin-left: 0;
    margin-right: 0;
    padding: 8px;
    box-shadow: 0 3px 0 #1e293b;
  }
}

@media (min-width: 1024px) {
  .card-grid {
    min-width: 32rem; /* This corresponds to max-w-lg */
  }
}
.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.custom-button {
  display: flex;
  align-items: center;
  background-color: #d6d3d1;
  transition: 0.1s ease-in;
  font-weight: 600;
  border: 2px solid #1e293b; /* Border color */
  box-shadow: 0 8px 0 #1e293b;
  cursor: pointer;
  height: 2.5rem;
  border-radius: 0.375rem;
  padding: 1.5rem 2.5rem;
  gap: 1rem;
  font-size: 16px;
}

@media (max-width: 480px) {
  .custom-button {
    height: 2rem;
    padding: 1rem 1.5rem;
    box-shadow: 0 4px 0 #1e293b;
    gap: 0.5rem;
  }

  .custom-button:hover {
    box-shadow: 0 2px 0 #1e293b;
  }
}

.custom-button img {
  height: 32px;
}

.custom-button p {
  font-size: 24px;
}

.custom-button:hover {
  box-shadow: 0 2px 0px rgb(3, 7, 18);
  transform: translateY(0.125rem);
}
